* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1,
h2 {
    font-weight: 500;
}

h1 {
    font-size: 4em;
    font-weight: 700;
}

h2 {
    position: relative;
    margin-bottom: 40px;
    text-align: center;
    font-size: 1.8em;
}

h3 {
    font-size: 1rem;
}

h4 {
    font-size: 2rem;
}

h5,
h6 {
    font-size: 1em;
}

p {
    font-size: .8rem;
    color: rgb(194, 193, 193);
}

h4 {
    font-family: 'Birthstone', cursive;
    font-weight: bolder;
}

.headind-mar-top {
    margin-top: 6rem;
}

.slid-span {
    color: #fff;
}

.mynavbar {
    background: url(../assets/BG.png) no-repeat center center;
    background-size: cover;
    max-width: 100%;
    height: 100%;
    position: relative;
}

.opacit {
    opacity: 0%;
}

.nav-item:hover {
    color: #f1db15;
}

.nav-items li:nth-child(-n + 4):hover::after {
    content: '';
    border-bottom: 1px solid #f1db15;
    display: block;
}

.car_inner_items {
    top: 10%;
    margin: 0rem 8rem;
}

.car_inner_items h4 {
    font-size: 4rem;
}

.car_inner_items h1 {
    font-size: 7rem;
    font-weight: bolder;
    line-height: .8;
}

.button-6 {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255);
    color: #FFFFFF;
    cursor: pointer;
    /* margin: 1rem; */
    padding: .2rem 2rem;
}

.x:after {
    content: '';
    border-bottom: 2px solid rgb(255, 255, 255);
    display: block;
    width: 10%;
    margin: 3rem auto;
}

.xred:after {
    content: '';
    border-bottom: 2px solid rgb(245, 89, 89);
    display: block;
    width: 50%;
    margin: 3rem auto;
}

h2 {
    position: relative;
    display: inline-block
}

.imge_items {
    align-items: center;
    margin-top: 4rem;
}

.imge-item {
    position: relative;
    transition: .2s all ease-in-out;
}

.imge_items img {
    width: 100%;
    overflow: hidden;
    transition: .3s all ease-in-out;
}

.imge_items .overlay {
    position: absolute;
    left: 0;
    top: 0;
    background: url(../assets/overlay.png);
    background-size: cover;
    z-index: 99999;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .2s all ease-in-out;
}

.overlay-content {
    text-align: center;
    margin-top: 25%;
    color: white;
    font-weight: bolder;
}

.overlay-content i {
    font-size: 30px;
}

.imge-item:hover {
    box-shadow: 10px 10px #95E1D4;
    transform: translatey(-10px)
}

.imge-item:hover .overlay {
    opacity: 75%;
}

.imge-items:hover .overlay-content {
    opacity: 1 !important;
}

.counter {
    margin-top: 4rem;
    color: #fff;
    background-color: #95E1D4;
    padding: 3em;
}

.servise-icon {
    float: left;
    height: 100%;
    margin-right: 1rem;
    font-size: 1.5rem;
    color: #95E1D4;
}


/*imag  */

.unique_design {
    background-image: url("../assets/bg1.jpg");
}

.unique_img img {
    width: 85%;
}

.unique_secondary_img {
    bottom: -11%;
    right: 27%;
}


/* ocoord */

.slider {
    padding: 6rem 17rem;
}

.slider1 {
    font-size: 3rem;
    padding: 6rem 17rem;
    background-color: rgb(235, 237, 240);
}


/* test */

.accordion_item {
    height: 14rem;
}

.accordion_header {
    width: 100%;
}

.accordion_icons {
    color: #95e1d4;
}

.Uname {
    font-family: "Birthstone";
    color: #222;
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 3rem;
}

.Uname::before {
    content: "";
    position: absolute;
    width: 3rem;
    height: 3px;
    left: -0.5rem;
    bottom: 1rem;
    background-color: rgb(233, 80, 80);
}

.logos {
    background-color: #f8f8f8;
}

.img-circle {
    border-radius: 50%
}


/* End carousel */

.item blockquote {
    border-left: none;
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}


/* hover 2 */

.imge-item2 {
    position: relative;
    transition: .2s all ease-in-out;
}

.imge_items img {
    width: 100%;
    overflow: hidden;
    transition: .3s all ease-in-out;
}

.imge_items .overlay2 {
    position: absolute;
    left: 0;
    top: 0;
    background: url(../assets/overlay.png);
    background-size: cover;
    z-index: 99999;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .2s all ease-in-out;
}

.overlay-content2 {
    text-align: center;
    margin-top: 50%;
    color: white;
    font-weight: bolder;
}

.overlay-content2 i {
    font-size: 2rem;
    background-color: #FCE389;
    margin: -0.9px;
    padding: .5rem;
    color: #F38180;
}

.imge-item2:hover {
    box-shadow: 10px 10px #95E1D4;
    transform: translatey(-10px)
}

.imge-item2:hover .overlay2 {
    opacity: 75%;
}

.imge-items:hover .overlay-content2 i {
    opacity: 1 !important;
    color: #FFFFFF;
}

.about_us_item_contant h3 {
    margin-top: 1rem;
    font-weight: bold;
}

.happy_clients {
    background: url(../assets/bg-happy-client.jpg) no-repeat center center / cover;
}

.happy_clients .item {
    margin-bottom: 30px;
}

.happy_clients_items .happy_clients_img {
    width: 25%;
}

.happy_clients_items .happy_clients_img img {
    border-radius: 50%;
    width: 100%;
}

.happy_clients_items .redx {
    position: relative;
    padding-bottom: 12px;
    display: inline-block;
    font-style: italic;
    margin-bottom: 12px;
}


/* laste blog */

.latestBlog .latestBlog_span {
    position: absolute;
    background: #95e1d3;
    left: -10px;
    bottom: 10px;
    padding: 3px 6px;
    color: #fff;
    text-align: center;
}

.latestBlog .latestBlog_icons i {
    color: #95e1d3;
    font-size: 17px;
}


/* map */

.map {
    background-image: url("../assets/bg-map.jpg");
}


/* footer */

.footer {
    background-color: #F8F8F8;
}

.footer ul {
    list-style: none;
}

.footer i {
    color: #95E1D4;
}

.footer .footer_btn {
    color: white;
    background-color: #95E1D4;
}